*{
  padding: 0;
  margin: 0;
}
.main-page {
  display: block;
  background: url("../images/bg.png");
  background-position: 0 0;
  background-repeat: repeat;
  width: 100%;
  height: 100%;
  position: absolute;
  animation: animatedBackground 40s linear infinite;
}

@keyframes animatedBackground {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 100% 0;
  }
}
