* {
  padding: 0;
  margin: 0;
}

a:target {
  color: inherit;
}

a:visited {
  color: inherit;
}

a {
  color: inherit;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #ffffff;
}

.main-page {
  display: block;
  background: url("../images/bg.png");
  background-position: 0 0;
  background-color: orange;
  width: 100%;
  height: 100%;
  position: absolute;
  animation: animatedBackground 40s linear infinite;
  .welcome {
    display: block;
    width: 100%;
    text-align: center;
    color: #ffffff;
    font-size: 50px;
    font-weight: 500;
    text-transform: uppercase;
    margin-top: 50px;
  }
  .personal-info {
    display: block;
    margin: 50px auto;
    .avatar {
      display: block;
      img {
        display: block;
        margin: 0 auto;
        width: 250px;
        height: 250px;
        border: 5px solid #ffffff;
        border-radius: 250px;
      }
    }
    .name {
      display: block;
      width: 100%;
      text-align: center;
      margin-top: 30px;
      .full-name {
        display: block;
        font-size: 35px;
      }
      .nick-name {
        display: block;
        font-size: 20px;
        margin-top: 15px;
      }
    }
    .contact-menu {
      display: block;
      margin: 30px auto 0 auto;
      text-align: center;
      .contact-menu-item {
        display: inline-block;
        width: 50px;
        height: 50px;
        border-radius: 50px;
        margin: 10px;
        background-color: #ffffff;
        color: #000000;
        font-size: 30px;
        vertical-align: text-top;
        a {
          display: block;
          width: 100%;
          height: 100%;
          color: inherit;
          i {
            margin-top: 10px;
          }
        }
      }
    }
  }
}

@keyframes animatedBackground {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 100% 0;
  }
}
