* {
  padding: 0;
  margin: 0;
}

.float-left {
  float: left;
  margin-left: 50px;
}

.float-right {
  float: right;
  margin-right: 50px;
}

a:target {
  color: inherit;
}

a:visited {
  color: inherit;
}

a {
  color: inherit;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #ffffff;
  background: url("../images/bg.png");
  background-position: 0 0;
  background-color: orange;
  @media(min-width: 700px) {
    animation: animatedBackground 40s linear infinite;
  }
  footer {
    display: block;
    width: 100%;
    margin-top: 10px;
    font-size: 20px;
    span {
      display: inline-block;
      background-color: #ffffff;
      border-radius: 15px;
      color: #000000;
      text-align: center;
      padding: 5px;
      a {
        text-decoration: none;
      }
    }
  }
}

.main-page {
  display: block;
  position: absolute;
  @media (min-width: 1000px) {
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 610px;
  }
  .welcome {
    display: block;
    width: 100%;
    text-align: center;
    color: #ffffff;
    font-size: 50px;
    font-weight: 600;
    text-transform: uppercase;
  }
  .personal-info {
    display: block;
    margin: 50px auto 0 auto;
    .avatar {
      display: block;
      img {
        display: block;
        margin: 0 auto;
        width: 250px;
        height: 250px;
        border: 5px solid #ffffff;
        border-radius: 250px;
      }
    }
    .name {
      display: block;
      width: 100%;
      text-align: center;
      margin-top: 30px;
      .full-name {
        display: block;
        font-size: 35px;
      }
      .nick-name {
        display: block;
        font-size: 20px;
        margin-top: 15px;
      }
    }
    .contact-menu {
      display: block;
      margin: 30px auto 0 auto;
      text-align: center;
      .contact-menu-item {
        display: inline-block;
        width: 50px;
        height: 50px;
        border-radius: 50px;
        margin: 10px 10px 0 10px;
        background-color: #ffffff;
        color: #000000;
        font-size: 30px;
        vertical-align: text-top;
        a {
          display: block;
          width: 100%;
          height: 100%;
          color: inherit;
          i {
            margin-top: 10px;
          }
        }
      }
    }
  }
}

.blog {
  display: block;
  width: 100%;
  .nav {
    height: 150px;
    @media (min-width: 500px) {
      padding: 60px;
    }
    h1{
      text-transform: uppercase;
      font-size: 60px;
      font-weight: 600;
      color: #ffffff;
    }
    span {
      display: inline-block;
      background-color: #ffffff;
      border-radius: 15px;
      color: #000000;
      text-align: center;
      padding: 5px;
      a {
        text-decoration: none;
      }
    }
  }
  .blog-body {
    display: block;
    width: 100%;
    background-color: #ffffff;
    min-height: 100%;
    color: #000000;
    padding-top: 30px;
    position: absolute;
    p{
      display: block;
      @media (min-width: 500px) {
        padding: 60px;
      }
    }
  }
}
.about {
  display: block;
  width: 100%;
  .nav {
    height: 150px;
    @media (min-width: 500px) {
      padding: 60px;
    }
    h1{
      text-transform: uppercase;
      font-size: 60px;
      font-weight: 600;
      color: #ffffff;
    }
    span {
      display: inline-block;
      background-color: #ffffff;
      border-radius: 15px;
      color: #000000;
      text-align: center;
      padding: 5px;
      a {
        text-decoration: none;
      }
    }
  }
  .about-body {
    display: block;
    width: 100%;
    background-color: #ffffff;
    color: #000000;
    position: absolute;
    min-height: 100%;
    padding-top: 30px;
    p{
      display: block;
      @media (min-width: 500px) {
        padding: 60px;
      }
    }
  }
}

@keyframes animatedBackground {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 100% 0;
  }
}
