<div class="main-page">
<span class="welcome">
  Welcome to my website, ladies and gentlemen!
</span>

  <div class="personal-info">
    <div class="avatar">
      <img src="images/avatar.jpg">
    </div>
    <div class="name">
      <span class="full-name">
        Volodya Skalskyi
      </span>
      <span class="nick-name">
           //mohsom
      </span>
    </div>
    <div class="contact-menu">
      <div class="contact-menu-item">
        <a href="https://github.com/mohsom">
          <i class="fa fa-github"></i>
        </a>
      </div>
      <div class="contact-menu-item">
        <a href="mailto:volodya.skalskyi@gmail.com">
          <i class="fa fa-envelope-o"></i>
        </a>
      </div>
      <div class="contact-menu-item">
        <a href="skype:mohsom_cpp?chat">
          <i class="fa fa-skype"></i>
        </a>
      </div>
      <div class="contact-menu-item">
        <a href="https://www.facebook.com/vskalskyi">
          <i class="fa fa-facebook"></i>
        </a>
      </div>
      <div class="contact-menu-item">
        <a href="https://twitter.com/vskalskyi">
          <i class="fa fa-twitter"></i>
        </a>
      </div>
    </div>
  </div>
  <footer>
    <a ng-href="#/blog">Blog</a>
    <a ng-href="#/about">About</a>
  </footer>
</div>
